$header_height:50px;
$header_bg_color: black;

header {
    height: $header_height;
    width: 100%;
    display: block;
    background-color: $header_bg_color;
}

.hdr {
    align-items: center;
    display: flex;
    height: $header_height;
    justify-content: space-between;
    box-sizing: border-box;

    color: white;
}
