.nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: grey;


    &-li {
        display: flex;
        box-sizing: border-box;
    }

    &-item {
        margin-right: 10px;

        &-lst {
            margin-right: 0px;
        }
    }
}
