$nav_height:20px;
$nav_bg_color:grey;

nav {
    height: $nav_height;
    width: 100%;
    background-color: $nav_bg_color;
    display: block;
}

.nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: $nav_height;
    align-items: center;

    &-li {
        display: flex;
        box-sizing: border-box;
    }

    &-item {
        margin-right: 10px;

        &-lst {
            margin-right: 0px;
        }
    }
}
